@model HelloWorld.Models.Product[]

@{
    ViewBag.Title = "Products";
}

@if (Model.Length > 0)
{
    <table>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C")</td>
                <td>@switch (product.ProductCount)
                {
                    case 0:
                        {
                            @:Out of Stock
                            break;
                        }
                    case 1:
                        {
                            <p>Low Stock</p>
                            break;
                        }
                    default:
                        {
                            @product.ProductCount
                            break;
                        }
                }
                </td>
            </tr>
        }
    </table>
}
                else
                {
    <h2>No product data found.</h2>
                }