@model HelloWorld.Models.GuestResponse

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    <p>Name: @Html.TextBoxFor(t => t.Name)</p>
    <p>Email: @Html.TextBoxFor(t => t.Email)</p>
    <p>Phone: @Html.TextBoxFor(t => t.Phone)</p>
    <p>
        Will Attend: @Html.DropDownListFor(t => t.WillAttend, Model.SelectItems, "Choose an option")
    </p>
    <input type="submit" value="Submit RSVP" />
}